In [3]:
pip install --upgrade pandas pyarrow

Requirement already satisfied: pandas in c:\users\jayli\anaconda3\lib\site-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: pyarrow in c:\users\jayli\anaconda3\lib\site-packages (14.0.2)
Collecting pyarrow
  Downloading pyarrow-18.0.0-cp312-cp312-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jayli\anaconda3\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jayli\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jayli\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jayli\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jayli\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB 5.9 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/11.5 MB 14.2 MB/s eta 0:00:01
   ----- ---------------------------------- 1.7/11.5 MB 11.7 MB/s eta 0:00:01
   ------------ --------------------------- 3.7/11.5 MB 19.6 MB/s eta 0:00:01
   --------------- ------------------------ 4.6/11.5 MB 19.5 MB/s eta 0:00:01
   --------------------- ------------------ 6.1/11.5 MB 21.6 MB/s eta 0:00:01
   ----------------------- ---------------- 6.9/11.5 MB 20.9 MB/s eta 0:00:01
   ---------------------------- ----------- 8.1/11.5 MB 20.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 22.9 MB/s eta 0:00:01
   ----------------------------------- ---- 10.2/11.5 MB 21.1 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.5 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 15.6 MB/s eta 0:00:00
Downloading pyarrow-18.0.0-cp312-cp312-win_amd64.whl (25.1 MB)
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
    --------------------------------------- 0.6/25.1 MB 17.8 MB/s eta 0:00:02
   -- ------------------------------------- 1.4/25.1 MB 17.9 MB/s eta 0:00:02
   --- ------------------------------------ 2.5/25.1 MB 19.9 MB/s eta 0:00:02
   ------ --------------------------------- 3.9/25.1 MB 22.7 MB/s eta 0:00:01
   ------- -------------------------------- 5.0/25.1 MB 22.6 MB/s eta 0:00:01
   --------- ------------------------------ 6.0/25.1 MB 21.3 MB/s eta 0:00:01
   ----------- ---------------------------- 7.1/25.1 MB 21.7 MB/s eta 0:00:01
   ------------- -------------------------- 8.3/25.1 MB 22.2 MB/s eta 0:00:01
   --------------- ------------------------ 9.6/25.1 MB 23.7 MB/s eta 0:00:01
   ---------------- ----------------------- 10.5/25.1 MB 24.3 MB/s eta 0:00:01
   ------------------ --------------------- 11.6/25.1 MB 24.2 MB/s eta 0:00:01
   -------------------- ------------------- 12.6/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------- ----------------- 14.2/25.1 MB 25.1 MB/s eta 0:00:01
   ------------------------ --------------- 15.3/25.1 MB 25.1 MB/s eta 0:00:01
   -------------------------- ------------- 16.5/25.1 MB 27.3 MB/s eta 0:00:01
   ---------------------------- ----------- 18.0/25.1 MB 26.2 MB/s eta 0:00:01
   ------------------------------ --------- 19.0/25.1 MB 26.2 MB/s eta 0:00:01
   ------------------------------- -------- 19.7/25.1 MB 24.2 MB/s eta 0:00:01
   -------------------------------- ------- 20.1/25.1 MB 22.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.1/25.1 MB 22.6 MB/s eta 0:00:01
   ------------------------------------ --- 22.9/25.1 MB 25.1 MB/s eta 0:00:01
   ---------------------------------------  24.8/25.1 MB 25.1 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  25.1/25.1 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------- 25.1/25.1 MB 12.6 MB/s eta 0:00:00
Installing collected packages: pyarrow, pandas
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 14.0.2
    Uninstalling pyarrow-14.0.2:
      Successfully uninstalled pyarrow-14.0.2
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
Successfully installed pandas-2.2.3 pyarrow-18.0.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
streamlit 1.32.0 requires numpy<2,>=1.19.3, but you have numpy 2.1.2 which is incompatible.

In [1]:
import numpy as np
import pandas as pd
import sqlite3 as sql
import plotly.express as px
import os

In [2]:

db_path = r'C:\Users\jayli\OneDrive\Meharry\Viz\basketball.sqlite'
connection = sql.connect(db_path)  # create connection object to database
print("SQL database connected")
table = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", connection)
print(table)

SQL database connected
                     name
0                  Player
1                    Team
2         Team_Attributes
3            Team_History
4       Player_Attributes
5          Game_Officials
6   Game_Inactive_Players
7             Team_Salary
8           Player_Salary
9                   Draft
10          Draft_Combine
11          Player_Photos
12            Player_Bios
13                   Game
14                   News
15           News_Missing

In [10]:
query = """
    SELECT 
        *
    FROM Player_Attributes;
"""
Player_Attributes = pd.read_sql(query, connection)
Player_Attributes

,ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24T00:00:00,Duke,USA,...,Y,Y,1990,1,25,5.7,0.3,3.3,0.0,NaN
1,76002,Zaid,Abdul-Aziz,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",Z. Abdul-Aziz,zaid-abdul-aziz,1946-04-07T00:00:00,Iowa State,USA,...,Y,Y,1968,1,5,9.0,1.2,8.0,0.0,NaN
2,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16T00:00:00,UCLA,USA,...,Y,Y,1969,1,1,24.6,3.6,11.2,18.0,NaN
3,51,Mahmoud,Abdul-Rauf,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",M. Abdul-Rauf,mahmoud-abdul-rauf,1969-03-09T00:00:00,Louisiana State,USA,...,Y,Y,1990,1,3,14.6,3.5,1.9,0.0,NaN
4,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03T00:00:00,San Jose State,France,...,Y,Y,1997,1,11,7.8,1.1,3.3,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04T00:00:00,,Croatia,...,Y,Y,2016,1,23,6.0,0.6,3.9,0.0,NaN
4496,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30T00:00:00,Kent State,USA,...,Y,Y,Undrafted,Undrafted,Undrafted,0.3,0.1,1.1,0.0,NaN
4497,78648,Bill,Zopf,Bill Zopf,"Zopf, Bill",B. Zopf,bill-zopf,1948-06-07T00:00:00,Duquesne,USA,...,Y,Y,1970,2,33,2.2,1.4,0.9,0.0,NaN
4498,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18T00:00:00,Mega Basket,Croatia,...,Y,Y,2016,2,32,8.5,1.1,7.0,NaN,0.126
4499,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19T00:00:00,George Washington,USA,...,Y,Y,1947,None,None,4.9,0.9,NaN,0.0,NaN

In [12]:
Player_Attributes.describe()

,HEIGHT,WEIGHT,SEASON_EXP,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
count,4403.000000,4399.000000,4500.000000,4485.000000,4485.000000,4193.000000,4056.000000,429.000000
mean,78.070634,211.146852,4.295556,6.357101,1.436299,2.981588,0.343195,0.084002
std,3.638698,27.075019,4.492292,4.925010,1.409078,2.288022,1.474006,0.088903
min,65.000000,133.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.500000
25%,75.000000,190.000000,1.000000,2.800000,0.500000,1.400000,0.000000,0.067000
50%,78.000000,210.000000,3.000000,5.100000,1.000000,2.400000,0.000000,0.089000
75%,81.000000,230.000000,7.000000,8.600000,1.900000,4.000000,0.000000,0.112000
max,91.000000,360.000000,22.000000,31.800000,11.200000,22.900000,18.000000,0.211000

: